<a href="https://colab.research.google.com/github/Lochanag/AIML/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
data=pd.read_csv("/content/dataset12.csv")
data.isna().sum()

Vegetable                          0
Season                             0
Month                              1
Temp                               0
Deasaster Happen in last 3month    1
Vegetable condition                0
Price per kg                       4
dtype: int64

In [1]:
import pandas as pd
data=pd.read_csv("/content/dataset12.csv")
print(data)

    Vegetable  Season Month  Temp Deasaster Happen in last 3month  \
0      potato  winter   jan    15                              no
1     tomato   winter   NaN    15                              no
2        peas  winter   jan    15                              no
3      pumkin  winter   jan    15                             NaN
4    cucumber  winter   jan    15                              no
..        ...     ...   ...   ...                             ...
116   brinjal  winter   jan    15                             yes
117    ginger  winter   jan    15                              no
118    potato  summer   apr    32                              no
119      peas  summer   apr    33                              no
120    radish  summer   apr    32                              no

    Vegetable condition  Price per kg
0                 fresh          20.0
1                 fresh           NaN
2                 fresh          70.0
3                 fresh          25.0
4                 fresh          20.0
..                  ...           ...
116               fresh          33.0
117               fresh          88.0
118               fresh          24.0
119               fresh          33.0
120               fresh           9.0

[121 rows x 7 columns]

In [2]:
import pandas as pd
data=pd.read_csv("/content/dataset12.csv")
cleaned_data=data.dropna()
print(cleaned_data)

           Vegetable  Season Month  Temp Deasaster Happen in last 3month  \
0             potato  winter   jan    15                              no
2               peas  winter   jan    15                              no
4           cucumber  winter   jan    15                              no
5    pointed grourd   winter   jan    15                             yes
7       Bitter gourd  winter   jan    15                              no
..               ...     ...   ...   ...                             ...
116          brinjal  winter   jan    15                             yes
117           ginger  winter   jan    15                              no
118           potato  summer   apr    32                              no
119             peas  summer   apr    33                              no
120           radish  summer   apr    32                              no

    Vegetable condition  Price per kg
0                 fresh          20.0
2                 fresh          70.0
4                 fresh          20.0
5                 fresh         130.0
7                 fresh          35.0
..                  ...           ...
116               fresh          33.0
117               fresh          88.0
118               fresh          24.0
119               fresh          33.0
120               fresh           9.0

[116 rows x 7 columns]

In [3]:
import pandas as pd
data=pd.read_csv("/content/dataset12.csv")
data=data.dropna(axis=1)
print(data)

    Vegetable  Season  Temp Vegetable condition
0      potato  winter    15               fresh
1     tomato   winter    15               fresh
2        peas  winter    15               fresh
3      pumkin  winter    15               fresh
4    cucumber  winter    15               fresh
..        ...     ...   ...                 ...
116   brinjal  winter    15               fresh
117    ginger  winter    15               fresh
118    potato  summer    32               fresh
119      peas  summer    33               fresh
120    radish  summer    32               fresh

[121 rows x 4 columns]

In [9]:
import pandas as pd
import numpy as np
data=pd.read_csv("/content/dataset12.csv")
numeric_columns=data.select_dtypes(include='number').columns
data_numeric=data[numeric_columns]
data_imputed_mean=data_numeric.fillna(data_numeric.mean())
print(data_imputed_mean)

     Temp  Price per kg
0      15     20.000000
1      15    140.683761
2      15     70.000000
3      15     25.000000
4      15     20.000000
..    ...           ...
116    15     33.000000
117    15     88.000000
118    32     24.000000
119    33     33.000000
120    32      9.000000

[121 rows x 2 columns]

In [10]:
import pandas as pd
data=pd.read_csv('/content/dataset12.csv')
z_score=(data-data.mean(numeric_only=True)/data.std(numeric_only=True))
print(z_score)

    Deasaster Happen in last 3month Month  Price per kg Season       Temp  \
0                               NaN   NaN     19.847195    NaN  12.328883
1                               NaN   NaN           NaN    NaN  12.328883
2                               NaN   NaN     69.847195    NaN  12.328883
3                               NaN   NaN     24.847195    NaN  12.328883
4                               NaN   NaN     19.847195    NaN  12.328883
..                              ...   ...           ...    ...        ...
116                             NaN   NaN     32.847195    NaN  12.328883
117                             NaN   NaN     87.847195    NaN  12.328883
118                             NaN   NaN     23.847195    NaN  29.328883
119                             NaN   NaN     32.847195    NaN  30.328883
120                             NaN   NaN      8.847195    NaN  29.328883

    Vegetable Vegetable condition
0         NaN                 NaN
1         NaN                 NaN
2         NaN                 NaN
3         NaN                 NaN
4         NaN                 NaN
..        ...                 ...
116       NaN                 NaN
117       NaN                 NaN
118       NaN                 NaN
119       NaN                 NaN
120       NaN                 NaN

[121 rows x 7 columns]

In [19]:
import pandas as pd
import numpy as np

data=pd.read_csv("/content/dataset12.csv")
mean=np.mean(data.select_dtypes(include='number'),axis=0)
cov_matrix=np.cov(data.select_dtypes(include='number'),rowvar=False)
inv_cov_matrix=np.linalg.inv(cov_matrix)
outliers=[]
for index ,row in data.iterrows():
  diff=row-mean
  point=row(data.select_dtypes(include='number').values)
  mahalanobis_dist=mahalanobis(point,mean,inv_cov_matrix)
  if mahalanobis_distance>-1:
     outliers.append(index)
print(outliers)

TypeError: 'Series' object is not callable

In [21]:
import pandas as pd
data=pd.read_csv("/content/dataset12.csv")
numeric_data=data.select_dtypes(include='number')
rolled_mean=numeric_data.rolling(window=2).mean()
rolled_std=numeric_data.rolling(window=2).std()
outliers=numeric_data[(numeric_data-rolled_mean).abs()>-1*rolled_std]
print(outliers)

     Temp  Price per kg
0     NaN           NaN
1     NaN           NaN
2     NaN           NaN
3     NaN          25.0
4     NaN          20.0
..    ...           ...
116   NaN          33.0
117   NaN          88.0
118  32.0          24.0
119  33.0          33.0
120  32.0           9.0

[121 rows x 2 columns]

In [22]:
import pandas as pd
data=pd.read_csv("/content/dataset12.csv")
print(data)

    Vegetable  Season Month  Temp Deasaster Happen in last 3month  \
0      potato  winter   jan    15                              no
1     tomato   winter   NaN    15                              no
2        peas  winter   jan    15                              no
3      pumkin  winter   jan    15                             NaN
4    cucumber  winter   jan    15                              no
..        ...     ...   ...   ...                             ...
116   brinjal  winter   jan    15                             yes
117    ginger  winter   jan    15                              no
118    potato  summer   apr    32                              no
119      peas  summer   apr    33                              no
120    radish  summer   apr    32                              no

    Vegetable condition  Price per kg
0                 fresh          20.0
1                 fresh           NaN
2                 fresh          70.0
3                 fresh          25.0
4                 fresh          20.0
..                  ...           ...
116               fresh          33.0
117               fresh          88.0
118               fresh          24.0
119               fresh          33.0
120               fresh           9.0

[121 rows x 7 columns]

In [26]:
import pandas as pd
data=pd.read_csv("/content/dataset12.csv")
upper_cap=50
lower_cap=10
numeric_data=data.select_dtypes(include='number')
data_clipped=numeric_data.clip(lower=lower_cap,upper=upper_cap)
data[data_clipped.columns]=data_clipped
print(data[data_clipped.columns])

     Temp  Price per kg
0      15          20.0
1      15           NaN
2      15          50.0
3      15          25.0
4      15          20.0
..    ...           ...
116    15          33.0
117    15          50.0
118    32          24.0
119    33          33.0
120    32          10.0

[121 rows x 2 columns]

In [27]:
import pandas as pd
data=pd.read_csv("/content/dataset12.csv")
data=data.select_dtypes(include='number')
data_log_transformation=np.log(data)
print(data_log_transformation)

         Temp  Price per kg
0    2.708050      2.995732
1    2.708050           NaN
2    2.708050      4.248495
3    2.708050      3.218876
4    2.708050      2.995732
..        ...           ...
116  2.708050      3.496508
117  2.708050      4.477337
118  3.465736      3.178054
119  3.496508      3.496508
120  3.465736      2.197225

[121 rows x 2 columns]

In [28]:
import pandas as pd
data=pd.read_csv("/content/dataset12.csv")
outliers=[500]
data=data[~data.isin(outliers)]
print(data)

    Vegetable  Season Month  Temp Deasaster Happen in last 3month  \
0      potato  winter   jan    15                              no
1     tomato   winter   NaN    15                              no
2        peas  winter   jan    15                              no
3      pumkin  winter   jan    15                             NaN
4    cucumber  winter   jan    15                              no
..        ...     ...   ...   ...                             ...
116   brinjal  winter   jan    15                             yes
117    ginger  winter   jan    15                              no
118    potato  summer   apr    32                              no
119      peas  summer   apr    33                              no
120    radish  summer   apr    32                              no

    Vegetable condition  Price per kg
0                 fresh          20.0
1                 fresh           NaN
2                 fresh          70.0
3                 fresh          25.0
4                 fresh          20.0
..                  ...           ...
116               fresh          33.0
117               fresh          88.0
118               fresh          24.0
119               fresh          33.0
120               fresh           9.0

[121 rows x 7 columns]