<a href="https://colab.research.google.com/github/Lochanag/AIML/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data=pd.read_csv("/content/158cs22025.csv")
print(data)

      Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Total  \
0         Health and beauty       74.69         7  26.1415   548.9715
1    Electronic accessories       15.28         5   3.8200    80.2200
2        Home and lifestyle       46.33         7  16.2155   340.5255
3         Health and beauty       58.22         8  23.2880   489.0480
4         Sports and travel       86.31         7  30.2085   634.3785
..                      ...         ...       ...      ...        ...
995       Health and beauty       40.35         1   2.0175    42.3675
996      Home and lifestyle       97.38        10  48.6900  1022.4900
997      Food and beverages       31.84         1   1.5920    33.4320
998      Home and lifestyle       65.82         1   3.2910    69.1110
999     Fashion accessories       88.34         7  30.9190   649.2990

           Date   Time      Payment    cogs  gross margin percentage  \
0    01-05-2019  13:08      Ewallet  522.83                 4.761905
1    03-08-2019  10:29         Cash   76.40                 4.761905
2    03-03-2019  13:23  Credit card  324.31                 4.761905
3     1/27/2019  20:33      Ewallet  465.76                 4.761905
4    02-08-2019  10:37      Ewallet  604.17                 4.761905
..          ...    ...          ...     ...                      ...
995   1/29/2019  13:46      Ewallet   40.35                 4.761905
996  03-02-2019  17:16      Ewallet  973.80                 4.761905
997  02-09-2019  13:22         Cash   31.84                 4.761905
998   2/22/2019  15:33         Cash   65.82                 4.761905
999   2/18/2019  13:28         Cash  618.38                 4.761905

     gross income  Rating
0         26.1415     9.1
1          3.8200     9.6
2         16.2155     7.4
3         23.2880     8.4
4         30.2085     5.3
..            ...     ...
995        2.0175     6.2
996       48.6900     4.4
997        1.5920     7.7
998        3.2910     4.1
999       30.9190     6.6

[1000 rows x 17 columns]

In [ ]:
import pandas as pd
data=pd.read_csv("/content/158cs22025.csv")
clined_data=data.dropna()
print(clined_data)

      Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Total  \
0         Health and beauty       74.69         7  26.1415   548.9715
1    Electronic accessories       15.28         5   3.8200    80.2200
2        Home and lifestyle       46.33         7  16.2155   340.5255
3         Health and beauty       58.22         8  23.2880   489.0480
4         Sports and travel       86.31         7  30.2085   634.3785
..                      ...         ...       ...      ...        ...
995       Health and beauty       40.35         1   2.0175    42.3675
996      Home and lifestyle       97.38        10  48.6900  1022.4900
997      Food and beverages       31.84         1   1.5920    33.4320
998      Home and lifestyle       65.82         1   3.2910    69.1110
999     Fashion accessories       88.34         7  30.9190   649.2990

           Date   Time      Payment    cogs  gross margin percentage  \
0    01-05-2019  13:08      Ewallet  522.83                 4.761905
1    03-08-2019  10:29         Cash   76.40                 4.761905
2    03-03-2019  13:23  Credit card  324.31                 4.761905
3     1/27/2019  20:33      Ewallet  465.76                 4.761905
4    02-08-2019  10:37      Ewallet  604.17                 4.761905
..          ...    ...          ...     ...                      ...
995   1/29/2019  13:46      Ewallet   40.35                 4.761905
996  03-02-2019  17:16      Ewallet  973.80                 4.761905
997  02-09-2019  13:22         Cash   31.84                 4.761905
998   2/22/2019  15:33         Cash   65.82                 4.761905
999   2/18/2019  13:28         Cash  618.38                 4.761905

     gross income  Rating
0         26.1415     9.1
1          3.8200     9.6
2         16.2155     7.4
3         23.2880     8.4
4         30.2085     5.3
..            ...     ...
995        2.0175     6.2
996       48.6900     4.4
997        1.5920     7.7
998        3.2910     4.1
999       30.9190     6.6

[1000 rows x 17 columns]

In [ ]:
import pandas as pd
data=pd.read_csv("/content/158cs22025.csv")
clined_data=data.dropna(axis=1)
print(clined_data)

      Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Total  \
0         Health and beauty       74.69         7  26.1415   548.9715
1    Electronic accessories       15.28         5   3.8200    80.2200
2        Home and lifestyle       46.33         7  16.2155   340.5255
3         Health and beauty       58.22         8  23.2880   489.0480
4         Sports and travel       86.31         7  30.2085   634.3785
..                      ...         ...       ...      ...        ...
995       Health and beauty       40.35         1   2.0175    42.3675
996      Home and lifestyle       97.38        10  48.6900  1022.4900
997      Food and beverages       31.84         1   1.5920    33.4320
998      Home and lifestyle       65.82         1   3.2910    69.1110
999     Fashion accessories       88.34         7  30.9190   649.2990

           Date   Time      Payment    cogs  gross margin percentage  \
0    01-05-2019  13:08      Ewallet  522.83                 4.761905
1    03-08-2019  10:29         Cash   76.40                 4.761905
2    03-03-2019  13:23  Credit card  324.31                 4.761905
3     1/27/2019  20:33      Ewallet  465.76                 4.761905
4    02-08-2019  10:37      Ewallet  604.17                 4.761905
..          ...    ...          ...     ...                      ...
995   1/29/2019  13:46      Ewallet   40.35                 4.761905
996  03-02-2019  17:16      Ewallet  973.80                 4.761905
997  02-09-2019  13:22         Cash   31.84                 4.761905
998   2/22/2019  15:33         Cash   65.82                 4.761905
999   2/18/2019  13:28         Cash  618.38                 4.761905

     gross income  Rating
0         26.1415     9.1
1          3.8200     9.6
2         16.2155     7.4
3         23.2880     8.4
4         30.2085     5.3
..            ...     ...
995        2.0175     6.2
996       48.6900     4.4
997        1.5920     7.7
998        3.2910     4.1
999       30.9190     6.6

[1000 rows x 17 columns]

In [ ]:
import pandas as pd
import numpy as np
data=pd.read_csv("/content/158cs22025.csv")
numeric_columns=data.select_dtypes(include=np.number).columns
data_numeric=data[numeric_columns]
data_imputed_mean=data_numeric.fillna(data_numeric.mean())
print(data_imputed_mean)

     Unit price  Quantity   Tax 5%      Total    cogs  \
0         74.69         7  26.1415   548.9715  522.83
1         15.28         5   3.8200    80.2200   76.40
2         46.33         7  16.2155   340.5255  324.31
3         58.22         8  23.2880   489.0480  465.76
4         86.31         7  30.2085   634.3785  604.17
..          ...       ...      ...        ...     ...
995       40.35         1   2.0175    42.3675   40.35
996       97.38        10  48.6900  1022.4900  973.80
997       31.84         1   1.5920    33.4320   31.84
998       65.82         1   3.2910    69.1110   65.82
999       88.34         7  30.9190   649.2990  618.38

     gross margin percentage  gross income  Rating
0                   4.761905       26.1415     9.1
1                   4.761905        3.8200     9.6
2                   4.761905       16.2155     7.4
3                   4.761905       23.2880     8.4
4                   4.761905       30.2085     5.3
..                       ...           ...     ...
995                 4.761905        2.0175     6.2
996                 4.761905       48.6900     4.4
997                 4.761905        1.5920     7.7
998                 4.761905        3.2910     4.1
999                 4.761905       30.9190     6.6

[1000 rows x 8 columns]

outliers

In [ ]:
import pandas as pd
df=pd.read_csv('/content/158cs22025.csv')
z_score=(df-df.mean(numeric_only=True)/df.std(numeric_only=True))
outliers=z_score[z_score>3]
print(outliers)

    Branch City Customer type Date Gender Invoice ID Payment Product line  \
0      NaN  NaN           NaN  NaN    NaN        NaN     NaN          NaN
1      NaN  NaN           NaN  NaN    NaN        NaN     NaN          NaN
2      NaN  NaN           NaN  NaN    NaN        NaN     NaN          NaN
3      NaN  NaN           NaN  NaN    NaN        NaN     NaN          NaN
4      NaN  NaN           NaN  NaN    NaN        NaN     NaN          NaN
..     ...  ...           ...  ...    ...        ...     ...          ...
995    NaN  NaN           NaN  NaN    NaN        NaN     NaN          NaN
996    NaN  NaN           NaN  NaN    NaN        NaN     NaN          NaN
997    NaN  NaN           NaN  NaN    NaN        NaN     NaN          NaN
998    NaN  NaN           NaN  NaN    NaN        NaN     NaN          NaN
999    NaN  NaN           NaN  NaN    NaN        NaN     NaN          NaN

     Quantity    Rating     Tax 5% Time        Total  Unit price        cogs  \
0    5.115228  5.042756  24.828015  NaN   547.658015   72.588739  521.516515
1    3.115228  5.542756        NaN  NaN    78.906515   13.178739   75.086515
2    5.115228  3.342756  14.902015  NaN   339.212015   44.228739  322.996515
3    6.115228  4.342756  21.974515  NaN   487.734515   56.118739  464.446515
4    5.115228       NaN  28.895015  NaN   633.065015   84.208739  602.856515
..        ...       ...        ...  ...          ...         ...         ...
995       NaN       NaN        NaN  NaN    41.054015   38.248739   39.036515
996  8.115228       NaN  47.376515  NaN  1021.176515   95.278739  972.486515
997       NaN  3.642756        NaN  NaN    32.118515   29.738739   30.526515
998       NaN       NaN        NaN  NaN    67.797515   63.718739   64.506515
999  5.115228       NaN  29.605515  NaN   647.985515   86.238739  617.066515

     gross income  gross margin percentage
0       24.828015                      NaN
1             NaN                      NaN
2       14.902015                      NaN
3       21.974515                      NaN
4       28.895015                      NaN
..            ...                      ...
995           NaN                      NaN
996     47.376515                      NaN
997           NaN                      NaN
998           NaN                      NaN
999     29.605515                      NaN

[1000 rows x 17 columns]

In [ ]:
import pandas as pd
import numpy as np
import mahalonobis
data=pd.read_csv("/content/158cs22025.csv")
mean=np.mean(data.select_dtypes(include='number'),axis=0)
cov_matrix=np.cov(data.select_dtypes(include='number'),rowvar=False)

outliers=[]
for index in data:
 point=(data.select_dtypes(include='number').values)
mahalonobis_dist=mahalonobis(point,mean,cov_matrix)
if mahalonobis_dist>-1:
  outliers.append(row)
print(outliers)

ModuleNotFoundError: No module named 'mahalonobis'

In [ ]:
import pandas as pd
data=pd.read_csv('/content/158cs22025.csv')
numeric_data=data.select_dtypes(include='number')
rolled_mean=numeric_data.rolling(window=3).mean(numeric_only=True)
rolled_std=numeric_data.rolling(window=3).std(numeric_only=True)
print(rolled_mean)
print(rolled_std)
outliers=numeric_data[(numeric_data-rolled_mean).abs()>-1*rolled_std]
print(outliers)

     Unit price  Quantity     Tax 5%     Total        cogs  \
0           NaN       NaN        NaN       NaN         NaN
1           NaN       NaN        NaN       NaN         NaN
2     45.433333  6.333333  15.392333  323.2390  307.846667
3     39.943333  6.666667  14.441167  303.2645  288.823333
4     63.620000  7.333333  23.237333  487.9840  464.746667
..          ...       ...        ...       ...         ...
995   39.596667  4.000000   4.603333   96.6700   92.066667
996   66.226667  4.000000  17.918333  376.2850  358.366667
997   56.523333  4.000000  17.433167  366.0965  348.663333
998   65.013333  4.000000  17.857667  375.0110  357.153333
999   62.000000  3.000000  11.934000  250.6140  238.680000

     gross margin percentage  gross income    Rating
0                        NaN           NaN       NaN
1                        NaN           NaN       NaN
2                   4.761905     15.392333  8.700000
3                   4.761905     14.441167  8.466667
4                   4.761905     23.237333  7.033333
..                       ...           ...       ...
995                 4.761905      4.603333  6.233333
996                 4.761905     17.918333  5.500000
997                 4.761905     17.433167  6.100000
998                 4.761905     17.857667  5.400000
999                 4.761905     11.934000  6.133333

[1000 rows x 8 columns]
     Unit price  Quantity     Tax 5%       Total        cogs  \
0           NaN       NaN        NaN         NaN         NaN
1           NaN       NaN        NaN         NaN         NaN
2     29.715148  1.154701  11.183494  234.853379  223.669885
3     22.170995  1.527525   9.854540  206.945331  197.090791
4     20.529737  0.577350   6.996638  146.929389  139.932752
..          ...       ...        ...         ...         ...
995   21.739791  5.196152   3.623572   76.095021   72.471448
996   28.878844  5.196152  26.654021  559.734438  533.080417
997   35.637837  5.196152  27.070048  568.471003  541.400955
998   32.777445  5.196152  26.715094  561.016969  534.301875
999   28.443045  3.464102  16.463424  345.731897  329.268473

     gross margin percentage  gross income    Rating
0                        NaN           NaN       NaN
1                        NaN           NaN       NaN
2                        0.0     11.183494  1.153256
3                        0.0      9.854540  1.101514
4                        0.0      6.996638  1.582193
..                       ...           ...       ...
995                      0.0      3.623572  0.351188
996                      0.0     26.654021  0.964365
997                      0.0     27.070048  1.652271
998                      0.0     26.715094  1.997498
999                      0.0     16.463424  1.844813

[1000 rows x 8 columns]
     Unit price  Quantity   Tax 5%      Total    cogs  \
0           NaN       NaN      NaN        NaN     NaN
1           NaN       NaN      NaN        NaN     NaN
2         46.33       7.0  16.2155   340.5255  324.31
3         58.22       8.0  23.2880   489.0480  465.76
4         86.31       7.0  30.2085   634.3785  604.17
..          ...       ...      ...        ...     ...
995       40.35       1.0   2.0175    42.3675   40.35
996       97.38      10.0  48.6900  1022.4900  973.80
997       31.84       1.0   1.5920    33.4320   31.84
998       65.82       1.0   3.2910    69.1110   65.82
999       88.34       7.0  30.9190   649.2990  618.38

     gross margin percentage  gross income  Rating
0                        NaN           NaN     NaN
1                        NaN           NaN     NaN
2                        NaN       16.2155     7.4
3                        NaN       23.2880     8.4
4                        NaN       30.2085     5.3
..                       ...           ...     ...
995                      NaN        2.0175     6.2
996                      NaN       48.6900     4.4
997                      NaN        1.5920     7.7
998                      NaN        3.2910     4.1
999                      NaN       30.9190     6.6

[1000 rows x 8 columns]

In [ ]:
data=pd.read_csv('/content/158cs22025.csv')
print(data)

      Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Total  \
0         Health and beauty       74.69         7  26.1415   548.9715
1    Electronic accessories       15.28         5   3.8200    80.2200
2        Home and lifestyle       46.33         7  16.2155   340.5255
3         Health and beauty       58.22         8  23.2880   489.0480
4         Sports and travel       86.31         7  30.2085   634.3785
..                      ...         ...       ...      ...        ...
995       Health and beauty       40.35         1   2.0175    42.3675
996      Home and lifestyle       97.38        10  48.6900  1022.4900
997      Food and beverages       31.84         1   1.5920    33.4320
998      Home and lifestyle       65.82         1   3.2910    69.1110
999     Fashion accessories       88.34         7  30.9190   649.2990

           Date   Time      Payment    cogs  gross margin percentage  \
0    01-05-2019  13:08      Ewallet  522.83                 4.761905
1    03-08-2019  10:29         Cash   76.40                 4.761905
2    03-03-2019  13:23  Credit card  324.31                 4.761905
3     1/27/2019  20:33      Ewallet  465.76                 4.761905
4    02-08-2019  10:37      Ewallet  604.17                 4.761905
..          ...    ...          ...     ...                      ...
995   1/29/2019  13:46      Ewallet   40.35                 4.761905
996  03-02-2019  17:16      Ewallet  973.80                 4.761905
997  02-09-2019  13:22         Cash   31.84                 4.761905
998   2/22/2019  15:33         Cash   65.82                 4.761905
999   2/18/2019  13:28         Cash  618.38                 4.761905

     gross income  Rating
0         26.1415     9.1
1          3.8200     9.6
2         16.2155     7.4
3         23.2880     8.4
4         30.2085     5.3
..            ...     ...
995        2.0175     6.2
996       48.6900     4.4
997        1.5920     7.7
998        3.2910     4.1
999       30.9190     6.6

[1000 rows x 17 columns]

In [ ]:
data=pd.read_csv('/content/158cs22025.csv')
upper_cap=50
lower_cap=10
data=data.select_dtypes(include='number')
data_clipped=data.clip(lower=lower_cap,upper=upper_cap)
data[data_clipped.columns]=data_clipped
print(data[data_clipped.columns])

     Unit price  Quantity   Tax 5%    Total   cogs  gross margin percentage  \
0         50.00        10  26.1415  50.0000  50.00                     10.0
1         15.28        10  10.0000  50.0000  50.00                     10.0
2         46.33        10  16.2155  50.0000  50.00                     10.0
3         50.00        10  23.2880  50.0000  50.00                     10.0
4         50.00        10  30.2085  50.0000  50.00                     10.0
..          ...       ...      ...      ...    ...                      ...
995       40.35        10  10.0000  42.3675  40.35                     10.0
996       50.00        10  48.6900  50.0000  50.00                     10.0
997       31.84        10  10.0000  33.4320  31.84                     10.0
998       50.00        10  10.0000  50.0000  50.00                     10.0
999       50.00        10  30.9190  50.0000  50.00                     10.0

     gross income  Rating
0         26.1415    10.0
1         10.0000    10.0
2         16.2155    10.0
3         23.2880    10.0
4         30.2085    10.0
..            ...     ...
995       10.0000    10.0
996       48.6900    10.0
997       10.0000    10.0
998       10.0000    10.0
999       30.9190    10.0

[1000 rows x 8 columns]

In [ ]:
import numpy as np
data=pd.read_csv('/content/158cs22025.csv')
data=data.select_dtypes(include='number')
data_log_transformation=np.log(data)
print(data_log_transformation)

     Unit price  Quantity    Tax 5%     Total      cogs  \
0      4.313346  1.945910  3.263524  6.308047  6.259256
1      2.726545  1.609438  1.340250  4.384773  4.335983
2      3.835790  1.945910  2.785968  5.830490  5.781700
3      4.064229  2.079442  3.147938  6.192461  6.143670
4      4.457945  1.945910  3.408123  6.452646  6.403856
..          ...       ...       ...       ...       ...
995    3.697591  0.000000  0.701859  3.746382  3.697591
996    4.578621  2.302585  3.885474  6.929996  6.881206
997    3.460723  0.000000  0.464991  3.509514  3.460723
998    4.186924  0.000000  1.191191  4.235714  4.186924
999    4.481193  1.945910  3.431371  6.475893  6.427103

     gross margin percentage  gross income    Rating
0                   1.560648      3.263524  2.208274
1                   1.560648      1.340250  2.261763
2                   1.560648      2.785968  2.001480
3                   1.560648      3.147938  2.128232
4                   1.560648      3.408123  1.667707
..                       ...           ...       ...
995                 1.560648      0.701859  1.824549
996                 1.560648      3.885474  1.481605
997                 1.560648      0.464991  2.041220
998                 1.560648      1.191191  1.410987
999                 1.560648      3.431371  1.887070

[1000 rows x 8 columns]

In [ ]:
import numpy as np
data=pd.read_csv('/content/158cs22025.csv')
outliers=[500]
data=data[data.isin(outliers)]
print(data)

      Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Total  \
0         Health and beauty       74.69         7  26.1415   548.9715
1    Electronic accessories       15.28         5   3.8200    80.2200
2        Home and lifestyle       46.33         7  16.2155   340.5255
3         Health and beauty       58.22         8  23.2880   489.0480
4         Sports and travel       86.31         7  30.2085   634.3785
..                      ...         ...       ...      ...        ...
995       Health and beauty       40.35         1   2.0175    42.3675
996      Home and lifestyle       97.38        10  48.6900  1022.4900
997      Food and beverages       31.84         1   1.5920    33.4320
998      Home and lifestyle       65.82         1   3.2910    69.1110
999     Fashion accessories       88.34         7  30.9190   649.2990

           Date   Time      Payment    cogs  gross margin percentage  \
0    01-05-2019  13:08      Ewallet  522.83                 4.761905
1    03-08-2019  10:29         Cash   76.40                 4.761905
2    03-03-2019  13:23  Credit card  324.31                 4.761905
3     1/27/2019  20:33      Ewallet  465.76                 4.761905
4    02-08-2019  10:37      Ewallet  604.17                 4.761905
..          ...    ...          ...     ...                      ...
995   1/29/2019  13:46      Ewallet   40.35                 4.761905
996  03-02-2019  17:16      Ewallet  973.80                 4.761905
997  02-09-2019  13:22         Cash   31.84                 4.761905
998   2/22/2019  15:33         Cash   65.82                 4.761905
999   2/18/2019  13:28         Cash  618.38                 4.761905

     gross income  Rating
0         26.1415     9.1
1          3.8200     9.6
2         16.2155     7.4
3         23.2880     8.4
4         30.2085     5.3
..            ...     ...
995        2.0175     6.2
996       48.6900     4.4
997        1.5920     7.7
998        3.2910     4.1
999       30.9190     6.6

[1000 rows x 17 columns]

In [ ]:
import pandas as pd
data=pd.read_csv('/content/158cs22025.csv')
data=df.drop_duplicates()
print(data)

      Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Total  \
0         Health and beauty       74.69         7  26.1415   548.9715
1    Electronic accessories       15.28         5   3.8200    80.2200
2        Home and lifestyle       46.33         7  16.2155   340.5255
3         Health and beauty       58.22         8  23.2880   489.0480
4         Sports and travel       86.31         7  30.2085   634.3785
..                      ...         ...       ...      ...        ...
995       Health and beauty       40.35         1   2.0175    42.3675
996      Home and lifestyle       97.38        10  48.6900  1022.4900
997      Food and beverages       31.84         1   1.5920    33.4320
998      Home and lifestyle       65.82         1   3.2910    69.1110
999     Fashion accessories       88.34         7  30.9190   649.2990

           Date   Time      Payment    cogs  gross margin percentage  \
0    01-05-2019  13:08      Ewallet  522.83                 4.761905
1    03-08-2019  10:29         Cash   76.40                 4.761905
2    03-03-2019  13:23  Credit card  324.31                 4.761905
3     1/27/2019  20:33      Ewallet  465.76                 4.761905
4    02-08-2019  10:37      Ewallet  604.17                 4.761905
..          ...    ...          ...     ...                      ...
995   1/29/2019  13:46      Ewallet   40.35                 4.761905
996  03-02-2019  17:16      Ewallet  973.80                 4.761905
997  02-09-2019  13:22         Cash   31.84                 4.761905
998   2/22/2019  15:33         Cash   65.82                 4.761905
999   2/18/2019  13:28         Cash  618.38                 4.761905

     gross income  Rating
0         26.1415     9.1
1          3.8200     9.6
2         16.2155     7.4
3         23.2880     8.4
4         30.2085     5.3
..            ...     ...
995        2.0175     6.2
996       48.6900     4.4
997        1.5920     7.7
998        3.2910     4.1
999       30.9190     6.6

[1000 rows x 17 columns]

In [ ]:
import pandas as pd
data=pd.read_csv('/content/158cs22025.csv')
data=df.drop_duplicates(subset=['City'])
print(data)

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
9  692-92-5582      B   Mandalay        Member  Female

             Product line  Unit price  Quantity   Tax 5%     Total  \
0       Health and beauty       74.69         7  26.1415  548.9715
1  Electronic accessories       15.28         5   3.8200   80.2200
9      Food and beverages       54.84         3   8.2260  172.7460

         Date   Time      Payment    cogs  gross margin percentage  \
0  01-05-2019  13:08      Ewallet  522.83                 4.761905
1  03-08-2019  10:29         Cash   76.40                 4.761905
9   2/20/2019  13:27  Credit card  164.52                 4.761905

   gross income  Rating
0       26.1415     9.1
1        3.8200     9.6
9        8.2260     5.9

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
data=pd.read_csv("/content/158cs22025.csv")
data=data.select_dtypes(include='number')
scaler=MinMaxScaler()
normalization=scaler.fit_transform(data)
print(normalization)

[[0.71884735 0.66666667 0.52161615 ... 0.         0.52161615 0.85      ]
 [0.05785492 0.44444444 0.06738704 ... 0.         0.06738704 0.93333333]
 [0.40331553 0.66666667 0.31962801 ... 0.         0.31962801 0.56666667]
 ...
 [0.24210058 0.         0.02204857 ... 0.         0.02204857 0.61666667]
 [0.62016021 0.         0.0566222  ... 0.         0.0566222  0.01666667]
 [0.87071651 0.66666667 0.6188354  ... 0.         0.6188354  0.43333333]]

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
data=pd.read_csv("/content/158cs22025.csv")
data=data.select_dtypes(include='number')
scaler=StandardScaler()
standardazion=scaler.fit_transform(data)
print(standardazion)

[[ 0.71816014  0.5099302   0.91960685 ...  0.          0.91960685
   1.23844341]
 [-1.52530319 -0.17453987 -0.98772956 ...  0.         -0.98772956
   1.52952681]
 [-0.35278112  0.5099302   0.07144605 ...  0.          0.07144605
   0.24875987]
 ...
 [-0.89995809 -1.54348001 -1.17810859 ...  0.         -1.17810859
   0.42340991]
 [ 0.38320778 -1.54348001 -1.03293176 ...  0.         -1.03293176
  -1.67239054]
 [ 1.23361671  0.5099302   1.32783657 ...  0.          1.32783657
  -0.21697356]]

In [ ]:
import pandas as pd
data=pd.read_csv('/content/158cs22025.csv')
binary=pd.get_dummies(data,columns=['City'])
print(binary)

FileNotFoundError: [Errno 2] No such file or directory: '/content/158cs22025.csv'

In [ ]:
data=pd.read_csv('/content/158cs22025.csv')
rank=data['City'].rank()
print(rank)

0      830.5
1      496.5
2      830.5
3      830.5
4      830.5
       ...
995    496.5
996    166.5
997    830.5
998    830.5
999    830.5
Name: City, Length: 1000, dtype: float64

In [ ]:
import pandas as pd
from sklearn.decomposition import PCA
data=pd.read_csv('/content/158cs22025.csv')
numeric_data=data.select_dtypes(include='number')
data_array=numeric_data.values
pca=PCA(n_components=2)
reduced_data=pca.fit_transform(data_array)
print("original data:",data_array.shape)
print("reduced data:",reduced_data.shape)

original data: (1000, 8)
reduced data: (1000, 2)

In [ ]:
import pandas as pd
from sklearn.manifold import TSNE
data=pd.read_csv('/content/158cs22025.csv')
numeric_data=data.select_dtypes(include='number')
x=numeric_data.values
tsne=TSNE(n_components=2,random_state=42)
x_tsne=pca.fit_transform(x)
print(x_tsne.shape)

(1000, 2)